body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 50px;
}
.menus a, .menus a:visited{
    color: white;
    text-decoration: none;
}
.menus{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.primeiraArea, .segundaArea, .terceiroArea, .quartoArea, .quintoArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    color: white;
    padding: 40px 0;
}
.primeiraArea{
    background-image: url(bannerAcademia.jpg);
}
.botao, .botao:visited{
    background-color: #580E15;
    color: white;
    border-radius: 5px;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 1.2em;
}
.segundaArea{
    background-image: url(cimentoQueimado.jpg);
    justify-content: flex-start;
}
.segundaArea p{
    width: 70vw;
    font-size: 1.4em;
    text-align: center;
}
iframe{
    width: 80vw;
    height: 70vh;
}
.turmasArea{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 80vw;
}
.turmaCard{
    height: 55vw;
    color: white;
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    font-size: 2em;
    border-radius: 10px;
}
.terceiroArea{
    padding: 40px;
    height: 100vh;
    background-color: black;
}
.terceiroArea h2, .quartoArea h2, .segundaArea h2{
    font-size: 2em;
}
.leo{
    background-image: url(leo.jpg);
}
.montanha{
    background-image: url(montanha.jpg);
}
.isa{
    background-image: url(isa.jpg);
}
.quartoArea{
    background-image: url(cimentoQueimado.jpg);
}
.quartoArea img{
    width: 70vw;
}
.quintoArea{
    background-color: black;
}